<aside class="sidebar-bio">
    <h2>About Me</h2>
    <p>
        I'm Miguel, a second-year PhD student at the Robotics, Computer Vision and Artificial Intelligence lab (RoPeRT)
        at the University of Zaragoza (Unizar). I'm researching Bayesian learning and 
        Bayesian optimization approaches to assistive technologies, under the supervision 
        of Prof. Ruben Martinez-Cantin. My focus is on multimodal and human-feedback-based problems, and how 
        to optimize and approach interactions between humans and AI models.
        I have dipped my toes into music, generative models, event cameras, and biosignals, and I hope to
        use my current and future knowledge to help people.
    </p>
    <p> 
        I'm also interested in arts, crafts and how to tangle them with my computer scientist side. 
        I will always complain about my thesis being time-consuming but happily spend hours coding
        add-ons for a Dungeons and Dragons campaign. My colleagues also like to come to me for tarot readings. 
        Unsure about where to submit? I got you. It makes for good after-lunch entertainment.
    </p>
    <p>
        I have LinkedIn but I don't really use it for much. Just the daily games. Anyhow, feel free to connect! Maybe I can start using it properly after all.
        I mainly post in Bluesky, though it's just my personal profile. For research-related searches, just jump to the Publications tag or my Google Scholar profile.
    </p>
</aside>
