<aside class="sidebar-bio">
    <h2>About Me</h2>
    <p>
        I'm Miguel, a PhD student at the Robotics, Perception and Real Time lab (RoPeRT) 
        at the University of Zaragoza (Unizar). I'm researching Bayesian learning and 
        Bayesian optimization approaches to assistive technologies, under the supervision 
        of Prof. Rubén Martínez. My focus is on human-feedback based problems, and how 
        to optimize and approach interactions between humans and AI models.
        Not much to discuss yet, I'm still in my first year, but I expect to update this page soon.
    </p>
    <p> 
        I'm also interested in arts, crafts and how to tangle them with my science side. 
        I am not a fan of GenAI used for art, being an artist myself, but I want to believe 
        there are fair and actually useful applications out there waiting to be found.
    </p>
</aside>
